# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.bak

#tmp files
cpu_graph.png
rogue_graph.png
tmp_app_snapshot.txt

.idea/